body {
    background-color: #004AAD
  }
  
  h1 {
    color: rgb(12, 192, 223);
  }

  p {
    color: rgb(12, 192, 223);
    size: 24px;
  }

  a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
  }
  a:visited {
  color: red;
  background-color: transparent;
  text-decoration: none;
  }
  a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
  }
  a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
  }